.roulette {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.killer-container {
  display: flex;
}

.perks-container {
  display: flex;
  flex-direction: column;
}

.perk-icon {
  margin: 5px;
}
